.pio
.vscode
.vscode/*
.cache
.clang-format
.direnv
.DS_Store
.idea
.pio
.pioenvs
.piolibdeps
*.code-workspace
*.checksum
include/webcontent.h
include/secrets.h

# Project specific folders
docs/
test/
logs/